.signup-wrapper {
    overflow: hidden;
}
.signup-wrapper *{
    border-radius: 50px;
    margin: 0;
    padding: 10px;
    font-family: monospace;
    box-sizing: border-box;
} 
.signup-wrapper ::placeholder {
    color: white;
}


.signup-create-btn {
    position: absolute;
    font-family: monospace;
    font-weight: bold;
    background-color: #484262;
    height: 45px;
    width: 120px;
    border: none;
    border-radius: 19px;
    color: white;
    cursor: pointer;
    margin-top: 60px;
    transition: background-color 0.15s, color 0.15s;
    top: 70%;
    left: 35%;
}

.signup-create-btn:hover{
    background-color: white;
    color: #484262;
}

.signup-create-btn:active{
    opacity: 0.7;
}

.signup-Return-btn {
    overflow-y: none;
    position: absolute;
    height: 200px;
    width: 350px;
    border: none;
    border-radius: 19px;
    cursor: pointer;
    margin-top: 60px;
    left: 0%;
    top: 70%;
    transition: 0.15s;
    z-index: 1;
}
.signup-Return-btn:hover{
    
    transform: scale(1.2);
}


.signup-container{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;
}

.signup-form-box{
    width: 90%;
    max-width: 450px;
    height: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: white;
    padding: 10px 10px 10px;
    text-align: center;
}

.signup-name-field {

    position: absolute;
    color: white;
    background-color: #484262;
    left: 8%;
    height: 65.8px;
    width: 172.28px;
    font-size: 16px;
    text-align: center;
}

.signup-username-field {

    position: absolute;
    color: white;
    background-color: #484262;
    left: 55%;
    height: 65.8px;
    width: 172.28px;
    font-size: 16px;
    text-align: center;
}

.signup-email-field {

    position: absolute;
    color: white;
    background-color: #484262;
    top: 30%;
    left: 6%;
    height: 65.8px;
    width: 400px;
    font-size: 16px;
    text-align: center;
}

.signup-password-field {

    position: absolute;
    color: white;
    background-color: #484262;
    top: 53%;
    left: 8%;
    height: 65.8px;
    width: 172.28px;
    font-size: 16px;
    text-align: center;
}

.signup-confirm-field {

    position: absolute;
    color: white;
    background-color: #484262;
    top: 53%;
    left: 55%;
    height: 65.8px;
    width: 172.28px;
    font-size: 16px;
    text-align: center;
}

.signup-options-group{
    
    position: absolute;
    top: 70%;
}

.signup-delivery{

    position: absolute;
    left: 50%;
}

.signup-deliverytext{

    position:absolute;
    top: -5%;
    left: 90%;
    width: 144px;
}

.signup-business{

    position: absolute;
    top: 42%;
    left: 50%;
}

.signup-businesstext{

    position:absolute;
    top: 25%;
    left: 90%
}

.signup-personal{

    position: absolute;
    left: 1000%;
    top: 15%;
}

.signup-personaltext{

    position:absolute;
    left: 1050%;
    top: -1%;
    width: 117px;
}


/*
    MODAL
*/
.modal-overlay {
    overflow: hidden;
}
.modal-prompt {
    color: #daccec;
}
.modal-overlay:hover {
    cursor: pointer;
}
.modal {
    font-family: monospace;
    font-size: larger;
    z-index: 4;
    background-color: rgba(29, 18, 53, 0.9);
    color: white;
    position:absolute;
    height: 100%;
    width: 100%;
    text-align: center;
    transition: 0.15s;
}
.modal-close-btn {
    background-color: #ffffff;
    color: #484262;
    font-weight: bold;
    border-radius: 100%;
}
.modal-close-btn:hover {
    background-color: #484262;
    color: white;
    font-weight: bold;
    transform: scale(1.2);
    cursor: pointer;
}
.modal-error {
    border-radius: 50px;
    background: linear-gradient(to left, rgb(72, 66, 98, 0.5), rgb(172, 170, 231, 0.5));
    position: fixed;
    width: 27%;
    left: 37.5%;
}